<?xml version="1.0"?>
<launch>
	<rosparam ns="color_range" command="load" file="$(find zeabus_example)/params/color_example.yaml"></rosparam>
	<node pkg="zeabus_example" name="mission" type="gate.py" output="screen">
        <param name="cameraTopic" type='str' value='/syrena/bottom_cam/image_raw/compressed'/>
    </node>
</launch>
