<launch>
  <node name="zeabus_modbus_master" pkg="modbus_ascii_ros" type="zeabus_modbus_master" />
  <param name="deviceName0" value="DEVICE_A" />
  <param name="deviceName1" value="DEVICE_B" />
  <param name="deviceName2" value="DEVICE_C" />
  <param name="deviceName3" value="DEVICE_D" />
  <param name="deviceName4" value="DEVICE_E" />
  <param name="deviceName5" value="DEVICE_F" />
  <param name="deviceName6" value="DEVICE_G" />
  <param name="deviceName7" value="DEVICE_H" />
  <param name="deviceName8" value="DEVICE_I" />
  <param name="deviceName9" value="DEVICE_J" />
  <param name="deviceName10" value="DEVICE_K" />
  <param name="deviceName11" value="DEVICE_L" />
  <param name="deviceName12" value="DEVICE_M" />
  <param name="deviceName13" value="DEVICE_N" />
  <param name="deviceName14" value="DEVICE_O" />
  <param name="deviceName15" value="DEVICE_P" />
  
  <param name="address0DiscreteInputName0" value="A00DCI00" />
  <param name="address0DiscreteInputName1" value="A00DCI01" />
  <param name="address0DiscreteInputName2" value="A00DCI02" />
  <param name="address0DiscreteInputName3" value="A00DCI03" />
  <param name="address0DiscreteInputName4" value="A00DCI04" />
  <param name="address0DiscreteInputName5" value="A00DCI05" />
  <param name="address0DiscreteInputName6" value="A00DCI06" />
  <param name="address0DiscreteInputName7" value="A00DCI07" />
  <param name="address0DiscreteInputName8" value="A00DCI08" />
  <param name="address0DiscreteInputName9" value="A00DCI09" />
  <param name="address0DiscreteInputName10" value="A00DCI10" />
  <param name="address0DiscreteInputName11" value="A00DCI11" />
  <param name="address0DiscreteInputName12" value="A00DCI12" />
  <param name="address0DiscreteInputName13" value="A00DCI13" />
  <param name="address0DiscreteInputName14" value="A00DCI14" />
  <param name="address0DiscreteInputName15" value="A00DCI15" />
  
  <param name="address1DiscreteInputName0" value="A01DCI00" />
  <param name="address1DiscreteInputName1" value="A01DCI01" />
  <param name="address1DiscreteInputName2" value="A01DCI02" />
  <param name="address1DiscreteInputName3" value="A01DCI03" />
  <param name="address1DiscreteInputName4" value="A01DCI04" />
  <param name="address1DiscreteInputName5" value="A01DCI05" />
  <param name="address1DiscreteInputName6" value="A01DCI06" />
  <param name="address1DiscreteInputName7" value="A01DCI07" />
  <param name="address1DiscreteInputName8" value="A01DCI08" />
  <param name="address1DiscreteInputName9" value="A01DCI09" />
  <param name="address1DiscreteInputName10" value="A01DCI10" />
  <param name="address1DiscreteInputName11" value="A01DCI11" />
  <param name="address1DiscreteInputName12" value="A01DCI12" />
  <param name="address1DiscreteInputName13" value="A01DCI13" />
  <param name="address1DiscreteInputName14" value="A01DCI14" />
  <param name="address1DiscreteInputName15" value="A01DCI15" />
  
  <param name="address2DiscreteInputName0" value="A02DCI00" />
  <param name="address2DiscreteInputName1" value="A02DCI01" />
  <param name="address2DiscreteInputName2" value="A02DCI02" />
  <param name="address2DiscreteInputName3" value="A02DCI03" />
  <param name="address2DiscreteInputName4" value="A02DCI04" />
  <param name="address2DiscreteInputName5" value="A02DCI05" />
  <param name="address2DiscreteInputName6" value="A02DCI06" />
  <param name="address2DiscreteInputName7" value="A02DCI07" />
  <param name="address2DiscreteInputName8" value="A02DCI08" />
  <param name="address2DiscreteInputName9" value="A02DCI09" />
  <param name="address2DiscreteInputName10" value="A02DCI10" />
  <param name="address2DiscreteInputName11" value="A02DCI11" />
  <param name="address2DiscreteInputName12" value="A02DCI12" />
  <param name="address2DiscreteInputName13" value="A02DCI13" />
  <param name="address2DiscreteInputName14" value="A02DCI14" />
  <param name="address2DiscreteInputName15" value="A02DCI15" />

  <param name="address3DiscreteInputName0" value="A03DCI00" />
  <param name="address3DiscreteInputName1" value="A03DCI01" />
  <param name="address3DiscreteInputName2" value="A03DCI02" />
  <param name="address3DiscreteInputName3" value="A03DCI03" />
  <param name="address3DiscreteInputName4" value="A03DCI04" />
  <param name="address3DiscreteInputName5" value="A03DCI05" />
  <param name="address3DiscreteInputName6" value="A03DCI06" />
  <param name="address3DiscreteInputName7" value="A03DCI07" />
  <param name="address3DiscreteInputName8" value="A03DCI08" />
  <param name="address3DiscreteInputName9" value="A03DCI09" />
  <param name="address3DiscreteInputName10" value="A03DCI10" />
  <param name="address3DiscreteInputName11" value="A03DCI11" />
  <param name="address3DiscreteInputName12" value="A03DCI12" />
  <param name="address3DiscreteInputName13" value="A03DCI13" />
  <param name="address3DiscreteInputName14" value="A03DCI14" />
  <param name="address3DiscreteInputName15" value="A03DCI15" />

  <param name="address4DiscreteInputName0" value="A04DCI00" />
  <param name="address4DiscreteInputName1" value="A04DCI01" />
  <param name="address4DiscreteInputName2" value="A04DCI02" />
  <param name="address4DiscreteInputName3" value="A04DCI03" />
  <param name="address4DiscreteInputName4" value="A04DCI04" />
  <param name="address4DiscreteInputName5" value="A04DCI05" />
  <param name="address4DiscreteInputName6" value="A04DCI06" />
  <param name="address4DiscreteInputName7" value="A04DCI07" />
  <param name="address4DiscreteInputName8" value="A04DCI08" />
  <param name="address4DiscreteInputName9" value="A04DCI09" />
  <param name="address4DiscreteInputName10" value="A04DCI10" />
  <param name="address4DiscreteInputName11" value="A04DCI11" />
  <param name="address4DiscreteInputName12" value="A04DCI12" />
  <param name="address4DiscreteInputName13" value="A04DCI13" />
  <param name="address4DiscreteInputName14" value="A04DCI14" />
  <param name="address4DiscreteInputName15" value="A04DCI15" />
  

  <param name="address0CoilName0" value="A00COI00" />
  <param name="address0CoilName1" value="A00COI01" />
  <param name="address0CoilName2" value="A00COI02" />
  <param name="address0CoilName3" value="A00COI03" />
  <param name="address0CoilName4" value="A00COI04" />
  <param name="address0CoilName5" value="A00COI05" />
  <param name="address0CoilName6" value="A00COI06" />
  <param name="address0CoilName7" value="A00COI07" />
  <param name="address0CoilName8" value="A00COI08" />
  <param name="address0CoilName9" value="A00COI09" />
  <param name="address0CoilName10" value="A00COI10" />
  <param name="address0CoilName11" value="A00COI11" />
  <param name="address0CoilName12" value="A00COI12" />
  <param name="address0CoilName13" value="A00COI13" />
  <param name="address0CoilName14" value="A00COI14" />
  <param name="address0CoilName15" value="A00COI15" />
  
  <param name="address1CoilName0" value="A01COI00" />
  <param name="address1CoilName1" value="A01COI01" />
  <param name="address1CoilName2" value="A01COI02" />
  <param name="address1CoilName3" value="A01COI03" />
  <param name="address1CoilName4" value="A01COI04" />
  <param name="address1CoilName5" value="A01COI05" />
  <param name="address1CoilName6" value="A01COI06" />
  <param name="address1CoilName7" value="A01COI07" />
  <param name="address1CoilName8" value="A01COI08" />
  <param name="address1CoilName9" value="A01COI09" />
  <param name="address1CoilName10" value="A01COI10" />
  <param name="address1CoilName11" value="A01COI11" />
  <param name="address1CoilName12" value="A01COI12" />
  <param name="address1CoilName13" value="A01COI13" />
  <param name="address1CoilName14" value="A01COI14" />
  <param name="address1CoilName15" value="A01COI15" />
  
  <param name="address2CoilName0" value="A02COI00" />
  <param name="address2CoilName1" value="A02COI01" />
  <param name="address2CoilName2" value="A02COI02" />
  <param name="address2CoilName3" value="A02COI03" />
  <param name="address2CoilName4" value="A02COI04" />
  <param name="address2CoilName5" value="A02COI05" />
  <param name="address2CoilName6" value="A02COI06" />
  <param name="address2CoilName7" value="A02COI07" />
  <param name="address2CoilName8" value="A02COI08" />
  <param name="address2CoilName9" value="A02COI09" />
  <param name="address2CoilName10" value="A02COI10" />
  <param name="address2CoilName11" value="A02COI11" />
  <param name="address2CoilName12" value="A02COI12" />
  <param name="address2CoilName13" value="A02COI13" />
  <param name="address2CoilName14" value="A02COI14" />
  <param name="address2CoilName15" value="A02COI15" />

  <param name="address3CoilName0" value="A03COI00" />
  <param name="address3CoilName1" value="A03COI01" />
  <param name="address3CoilName2" value="A03COI02" />
  <param name="address3CoilName3" value="A03COI03" />
  <param name="address3CoilName4" value="A03COI04" />
  <param name="address3CoilName5" value="A03COI05" />
  <param name="address3CoilName6" value="A03COI06" />
  <param name="address3CoilName7" value="A03COI07" />
  <param name="address3CoilName8" value="A03COI08" />
  <param name="address3CoilName9" value="A03COI09" />
  <param name="address3CoilName10" value="A03COI10" />
  <param name="address3CoilName11" value="A03COI11" />
  <param name="address3CoilName12" value="A03COI12" />
  <param name="address3CoilName13" value="A03COI13" />
  <param name="address3CoilName14" value="A03COI14" />
  <param name="address3CoilName15" value="A03COI15" />

  <param name="address4CoilName0" value="A04COI00" />
  <param name="address4CoilName1" value="A04COI01" />
  <param name="address4CoilName2" value="A04COI02" />
  <param name="address4CoilName3" value="A04COI03" />
  <param name="address4CoilName4" value="A04COI04" />
  <param name="address4CoilName5" value="A04COI05" />
  <param name="address4CoilName6" value="A04COI06" />
  <param name="address4CoilName7" value="A04COI07" />
  <param name="address4CoilName8" value="A04COI08" />
  <param name="address4CoilName9" value="A04COI09" />
  <param name="address4CoilName10" value="A04COI10" />
  <param name="address4CoilName11" value="A04COI11" />
  <param name="address4CoilName12" value="A04COI12" />
  <param name="address4CoilName13" value="A04COI13" />
  <param name="address4CoilName15" value="A04COI15" />
  
  

  <param name="address0InputRegisterName0" value="A00INR00" />
  <param name="address0InputRegisterName1" value="A00INR01" />
  <param name="address0InputRegisterName2" value="A00INR02" />
  <param name="address0InputRegisterName3" value="A00INR03" />
  <param name="address0InputRegisterName4" value="A00INR04" />
  <param name="address0InputRegisterName5" value="A00INR05" />
  <param name="address0InputRegisterName6" value="A00INR06" />
  <param name="address0InputRegisterName7" value="A00INR07" />
  <param name="address0InputRegisterName8" value="A00INR08" />
  <param name="address0InputRegisterName9" value="A00INR09" />
  <param name="address0InputRegisterName10" value="A00INR10" />
  <param name="address0InputRegisterName11" value="A00INR11" />
  <param name="address0InputRegisterName12" value="A00INR12" />
  <param name="address0InputRegisterName13" value="A00INR13" />
  <param name="address0InputRegisterName14" value="A00INR14" />
  <param name="address0InputRegisterName15" value="A00INR15" />
  
  <param name="address1InputRegisterName0" value="A01INR00" />
  <param name="address1InputRegisterName1" value="A01INR01" />
  <param name="address1InputRegisterName2" value="A01INR02" />
  <param name="address1InputRegisterName3" value="A01INR03" />
  <param name="address1InputRegisterName4" value="A01INR04" />
  <param name="address1InputRegisterName5" value="A01INR05" />
  <param name="address1InputRegisterName6" value="A01INR06" />
  <param name="address1InputRegisterName7" value="A01INR07" />
  <param name="address1InputRegisterName8" value="A01INR08" />
  <param name="address1InputRegisterName9" value="A01INR09" />
  <param name="address1InputRegisterName10" value="A01INR10" />
  <param name="address1InputRegisterName11" value="A01INR11" />
  <param name="address1InputRegisterName12" value="A01INR12" />
  <param name="address1InputRegisterName13" value="A01INR13" />
  <param name="address1InputRegisterName14" value="A01INR14" />
  <param name="address1InputRegisterName15" value="A01INR15" />
  
  <param name="address2InputRegisterName0" value="A02INR00" />
  <param name="address2InputRegisterName1" value="A02INR01" />
  <param name="address2InputRegisterName2" value="A02INR02" />
  <param name="address2InputRegisterName3" value="A02INR03" />
  <param name="address2InputRegisterName4" value="A02INR04" />
  <param name="address2InputRegisterName5" value="A02INR05" />
  <param name="address2InputRegisterName6" value="A02INR06" />
  <param name="address2InputRegisterName7" value="A02INR07" />
  <param name="address2InputRegisterName8" value="A02INR08" />
  <param name="address2InputRegisterName9" value="A02INR09" />
  <param name="address2InputRegisterName10" value="A02INR10" />
  <param name="address2InputRegisterName11" value="A02INR11" />
  <param name="address2InputRegisterName12" value="A02INR12" />
  <param name="address2InputRegisterName13" value="A02INR13" />
  <param name="address2InputRegisterName14" value="A02INR14" />
  <param name="address2InputRegisterName15" value="A02INR15" />

  <param name="address3InputRegisterName0" value="A03INR00" />
  <param name="address3InputRegisterName1" value="A03INR01" />
  <param name="address3InputRegisterName2" value="A03INR02" />
  <param name="address3InputRegisterName3" value="A03INR03" />
  <param name="address3InputRegisterName4" value="A03INR04" />
  <param name="address3InputRegisterName5" value="A03INR05" />
  <param name="address3InputRegisterName6" value="A03INR06" />
  <param name="address3InputRegisterName7" value="A03INR07" />
  <param name="address3InputRegisterName8" value="A03INR08" />
  <param name="address3InputRegisterName9" value="A03INR09" />
  <param name="address3InputRegisterName10" value="A03INR10" />
  <param name="address3InputRegisterName11" value="A03INR11" />
  <param name="address3InputRegisterName12" value="A03INR12" />
  <param name="address3InputRegisterName13" value="A03INR13" />
  <param name="address3InputRegisterName14" value="A03INR14" />
  <param name="address3InputRegisterName15" value="A03INR15" />

  <param name="address4InputRegisterName0" value="A04INR00" />
  <param name="address4InputRegisterName1" value="A04INR01" />
  <param name="address4InputRegisterName2" value="A04INR02" />
  <param name="address4InputRegisterName3" value="A04INR03" />
  <param name="address4InputRegisterName4" value="A04INR04" />
  <param name="address4InputRegisterName5" value="A04INR05" />
  <param name="address4InputRegisterName6" value="A04INR06" />
  <param name="address4InputRegisterName7" value="A04INR07" />
  <param name="address4InputRegisterName8" value="A04INR08" />
  <param name="address4InputRegisterName9" value="A04INR09" />
  <param name="address4InputRegisterName10" value="A04INR10" />
  <param name="address4InputRegisterName11" value="A04INR11" />
  <param name="address4InputRegisterName12" value="A04INR12" />
  <param name="address4InputRegisterName13" value="A04INR13" />
  <param name="address4InputRegisterName15" value="A04INR15" />





  <param name="address0HoldingRegisterName0" value="A00HDR00" />
  <param name="address0HoldingRegisterName1" value="A00HDR01" />
  <param name="address0HoldingRegisterName2" value="A00HDR02" />
  <param name="address0HoldingRegisterName3" value="A00HDR03" />
  <param name="address0HoldingRegisterName4" value="A00HDR04" />
  <param name="address0HoldingRegisterName5" value="A00HDR05" />
  <param name="address0HoldingRegisterName6" value="A00HDR06" />
  <param name="address0HoldingRegisterName7" value="A00HDR07" />
  <param name="address0HoldingRegisterName8" value="A00HDR08" />
  <param name="address0HoldingRegisterName9" value="A00HDR09" />
  <param name="address0HoldingRegisterName10" value="A00HDR10" />
  <param name="address0HoldingRegisterName11" value="A00HDR11" />
  <param name="address0HoldingRegisterName12" value="A00HDR12" />
  <param name="address0HoldingRegisterName13" value="A00HDR13" />
  <param name="address0HoldingRegisterName14" value="A00HDR14" />
  <param name="address0HoldingRegisterName15" value="A00HDR15" />
  
  <param name="address1HoldingRegisterName0" value="A01HDR00" />
  <param name="address1HoldingRegisterName1" value="A01HDR01" />
  <param name="address1HoldingRegisterName2" value="A01HDR02" />
  <param name="address1HoldingRegisterName3" value="A01HDR03" />
  <param name="address1HoldingRegisterName4" value="A01HDR04" />
  <param name="address1HoldingRegisterName5" value="A01HDR05" />
  <param name="address1HoldingRegisterName6" value="A01HDR06" />
  <param name="address1HoldingRegisterName7" value="A01HDR07" />
  <param name="address1HoldingRegisterName8" value="A01HDR08" />
  <param name="address1HoldingRegisterName9" value="A01HDR09" />
  <param name="address1HoldingRegisterName10" value="A01HDR10" />
  <param name="address1HoldingRegisterName11" value="A01HDR11" />
  <param name="address1HoldingRegisterName12" value="A01HDR12" />
  <param name="address1HoldingRegisterName13" value="A01HDR13" />
  <param name="address1HoldingRegisterName14" value="A01HDR14" />
  <param name="address1HoldingRegisterName15" value="A01HDR15" />
  
  <param name="address2HoldingRegisterName0" value="A02HDR00" />
  <param name="address2HoldingRegisterName1" value="A02HDR01" />
  <param name="address2HoldingRegisterName2" value="A02HDR02" />
  <param name="address2HoldingRegisterName3" value="A02HDR03" />
  <param name="address2HoldingRegisterName4" value="A02HDR04" />
  <param name="address2HoldingRegisterName5" value="A02HDR05" />
  <param name="address2HoldingRegisterName6" value="A02HDR06" />
  <param name="address2HoldingRegisterName7" value="A02HDR07" />
  <param name="address2HoldingRegisterName8" value="A02HDR08" />
  <param name="address2HoldingRegisterName9" value="A02HDR09" />
  <param name="address2HoldingRegisterName10" value="A02HDR10" />
  <param name="address2HoldingRegisterName11" value="A02HDR11" />
  <param name="address2HoldingRegisterName12" value="A02HDR12" />
  <param name="address2HoldingRegisterName13" value="A02HDR13" />
  <param name="address2HoldingRegisterName14" value="A02HDR14" />
  <param name="address2HoldingRegisterName15" value="A02HDR15" />

  <param name="address3HoldingRegisterName0" value="A03HDR00" />
  <param name="address3HoldingRegisterName1" value="A03HDR01" />
  <param name="address3HoldingRegisterName2" value="A03HDR02" />
  <param name="address3HoldingRegisterName3" value="A03HDR03" />
  <param name="address3HoldingRegisterName4" value="A03HDR04" />
  <param name="address3HoldingRegisterName5" value="A03HDR05" />
  <param name="address3HoldingRegisterName6" value="A03HDR06" />
  <param name="address3HoldingRegisterName7" value="A03HDR07" />
  <param name="address3HoldingRegisterName8" value="A03HDR08" />
  <param name="address3HoldingRegisterName9" value="A03HDR09" />
  <param name="address3HoldingRegisterName10" value="A03HDR10" />
  <param name="address3HoldingRegisterName11" value="A03HDR11" />
  <param name="address3HoldingRegisterName12" value="A03HDR12" />
  <param name="address3HoldingRegisterName13" value="A03HDR13" />
  <param name="address3HoldingRegisterName14" value="A03HDR14" />
  <param name="address3HoldingRegisterName15" value="A03HDR15" />

  <param name="address4HoldingRegisterName0" value="A04HDR00" />
  <param name="address4HoldingRegisterName1" value="A04HDR01" />
  <param name="address4HoldingRegisterName2" value="A04HDR02" />
  <param name="address4HoldingRegisterName3" value="A04HDR03" />
  <param name="address4HoldingRegisterName4" value="A04HDR04" />
  <param name="address4HoldingRegisterName5" value="A04HDR05" />
  <param name="address4HoldingRegisterName6" value="A04HDR06" />
  <param name="address4HoldingRegisterName7" value="A04HDR07" />
  <param name="address4HoldingRegisterName8" value="A04HDR08" />
  <param name="address4HoldingRegisterName9" value="A04HDR09" />
  <param name="address4HoldingRegisterName10" value="A04HDR10" />
  <param name="address4HoldingRegisterName11" value="A04HDR11" />
  <param name="address4HoldingRegisterName12" value="A04HDR12" />
  <param name="address4HoldingRegisterName13" value="A04HDR13" />
  <param name="address4HoldingRegisterName15" value="A04HDR15" />
</launch>
